<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">Create a new task</h1>

        <div class="field">
            <p class="control is-expanded">
              <input #inputTaskTitle class="input has-background-light is-medium" type="text" placeholder="Enter task title...">
            </p>
        </div>

        <div class="field is-grouped is-grouped-right">
            <p class="control">
              <button class="button is-primary is-medium" (click)= "createNewTask(inputTaskTitle.value)">
                Create
              </button>
            </p>
            <p class="control">
              <button class="button is-light is-medium" routerLink = "../">
                Cancel
              </button>
            </p>
          </div>

    </div>
</div>
