@import '../../../main-styles.scss';

.task-manager-container {
    display: flex;
    width: 100%;
    min-height: 680px;
    max-width: 1000px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 42px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    button {
        border-radius: 10px;
    }
}

.task-list-container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 42px;
}

.title{
    font-family: 'Lato';
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.list-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 15px;

    .list-menu-item {
        align-items: center;
        padding: 10px 15px;
        border-radius: 5px;
        width: 100%;
        color: #5f5f55;
        margin-bottom: 5px;

        &:hover {
            background: $light;
        }

        &.is-active {
            background: #cff8ef;
            color: $dark-green;
        }
    }
}

.task {
    background: white;
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: 10px;
    transition: box-shadow 0.2s ease;
    transition: transform 0.2s ease;
    cursor: pointer;
    &:not(.completed) {
        &:hover {
            box-shadow: 0 0 0 5px #eeeeee;
        }
        &:active {
            transform: scale(0.98);
        }
    }
    &.completed {
        text-decoration: line-through;
        opacity: 0.8;
    }
}

.circle-add-button {
    height: 50px;
    width: 50px;
    background: $primary;
    position: absolute;
    bottom: 25px;
    right: 25px;
    border: none;
    border-radius: 50%;
}